@import "minima";

// Custom admonition styles
.admonition {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 90%;
}

.admonition p:first-child {
  margin-top: 0;
}

.admonition p:last-child {
  margin-bottom: 0;
}

.admonition-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.admonition-important {
  border-left-color: #d9534f;
  background-color: #f2dede;
}

.admonition-warning {
  border-left-color: #f0ad4e;
  background-color: #fcf8e3;
}

.admonition-notice {
  border-left-color: #337ab7;
  background-color: #d9edf7;
}